# Server
PORT=5000

# MongoDB connection string (local or MongoDB Atlas)
MONGO_URI=mongodb+srv://chainstock:ssath0607@cluster0.v0raedh.mongodb.net/?appName=Cluster0

# JWT secret - use a long, random, unguessable string in production
JWT_SECRET=ecdfd20a424213c4706b1b0e6ce55931c98d582350103077526b6bce7c328fa88490b80b4c7a9676f5a258e89d6f5b41

# How long issued tokens stay valid
JWT_EXPIRES_IN=30d

